body {
	margin: 0;
	font-family: "Droid Serif", serif;
}
h1 {
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
a {
	font-family: "Raleway", sans-serif;
	color: #f15b31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	outline: none;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}
a:hover {
	border-color: white;
}
main p {
	line-height: 26px;
	font-size: 18px;
}
body {
	text-align: center;
}
h2 {
	font-family: "Raleway", sans-serif;
	color: #0d2c40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	text-transform: uppercase;
}
header {
	background-color: #f15b31;
	color: #fff;
	padding: 30px 20px;
}
nav {
	background-color: #00a6b3;
	color: #fff;
	padding: 20px 0px;
}
nav a {
	margin: 0px 20px;
	color: #fff;
}
main {
	width: 850px;
	margin: 35px auto;
}
img {
	margin-top: 40px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 0px;
	transition: all 0.2s ease-in-out;
}
img.flipped {
	transform: translateY(-20px);
}
footer {
	padding: 0px 20px;
	background-color: #0d2c40;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.08em;
	font-weight: 500;
	font-family: "Raleway", sans-serif;
}
.copyright {
	float: left;
}
.message {
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}`
.name {
	color: #f15b31;
	font-weight: 700;
}
.board img {
    width: calc(25% - 16px);
    float: left;
    cursor: pointer;
}
.reset {
	border: 1px solid #0d2c40;
	color: #0d2c40;
	padding: 10px 15px;
	margin-top: 40px;
	font-size: 20px;
	background: transparent;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.reset:hover {
	background: #0d2c40;
	color: #fff;
}